.c-form-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #A2A2A2;
    height: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    padding-top: 30px;
}